altair
snowflake-connector-python
snowflake-sqlalchemy
snowflake-snowpark-python[pandas]==1.5.1
numpy
pandas
matplotlib
seaborn
openai==0.27.3
streamlit_chat
langchain==0.0.124
pinecone-client==2.2.1
sqlalchemy
faiss-cpu==1.7.4
